:root {
    --border-color: var(--color-text);
    --border-color-pressed: theme(colors.fuchsia-blue.500);
    --focus-ring-color: theme(colors.fuchsia-blue.500);
    --highlight-background: theme(colors.fuchsia-blue.500);
    --highlight-background-pressed: theme(colors.fuchsia-blue.500);
    --highlight-foreground: theme(colors.fuchsia-blue.500);
}

.react-aria-RadioGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
}

.react-aria-Radio {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:before {
        content: "";
        display: block;
        width: 1.286rem;
        height: 1.286rem;
        box-sizing: border-box;
        border: 0.143rem solid var(--border-color);
        background: var(--field-background);
        border-radius: 1.286rem;
        transition: all 200ms;

        color: theme(colors.fuchsia-blue.500);
    }

    &[data-pressed]:before {
        border-color: var(--border-color-pressed);
    }

    &[data-selected] {
        &:before {
            border-color: var(--highlight-background);
            border-width: 0.429rem;
        }

        &[data-pressed]:before {
            border-color: var(--highlight-background-pressed);
        }
    }

    &[data-focus-visible]:before {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
    }
}
