html {
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: var(--font-family);
}

html,
body,
#root {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}
