@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root {
    --background-color: theme(colors.platinum.DEFAULT);
    --text-color: theme(colors.jet.DEFAULT);
}

[data-theme="dark"] {
    --background-color: theme(colors.jet.DEFAULT);
    --text-color: theme(colors.platinum.DEFAULT);
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    ul {
        @apply list-disc;
    }

    a {
        @apply text-fuchsia-blue-500;

        &:hover {
            @apply text-fuchsia-blue-300;
        }
    }

    :not(pre) > code {
        @apply bg-slate-800 text-orchid-300 rounded  text-sm;
    }
}

@layer utilities {
    .grouped {
        * > * {
            @apply border-gray-200 border;
        }

        :last-child {
            @apply rounded-l-none;
        }

        :first-child {
            @apply rounded-r-none;
        }
    }
}
