h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-primary-dark);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: var(--color-primary);
    }

    &:active {
        color: var(--color-primary);
    }
}
