.root {
    width: 600px;
    align-self: center;
}

.posts {
    display: flex;
    flex-direction: column;

    margin-top: 2em;

    gap: 1em;
}

.newBadge {
    position: absolute;
    top: 0;
    right: 0;

    transform: translate(50%, -50%) rotate(30deg);
}

.postEntry {
    position: relative;
    display: grid;

    grid-template:
        "title tags" auto
        "description date" auto / 1fr auto;
    gap: 0.5em;

    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 1em;

    &:hover {
        box-shadow: 0.2em 0.2em 0.25em rgba(0, 0, 0, 0.2);
    }
}

.title {
    grid-area: title;
}

.description {
    grid-area: description;
    font-size: 0.9em;
}

.tags {
    grid-area: tags;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.2em;
}

.postDate {
    grid-area: date;
    justify-self: end;
}
