---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Russley Shaw" description="Russley Shaw's personal website.">
  <main class="flex flex-col justify-center items-center">
    <div class="p-4 flex flex-col gap-4">
      <h1>Russley Shaw</h1>

      <p>
        Garmin Inc.
        <br />
        Senior Aviation Tools Software Engineer
        <br />
        <br />
        Microservice architecture, reactive UX interface design.
        <br />
        7+ years of professional Typescript & React experience.
        <br />
        <br />
        University of Missouri Science & Technology
        <br />
        (2017) B.S. in Computer Science
        <br />
      </p>
    </div>
  </main>
</Layout>

<style></style>
