.root {
    width: 600px;
    align-self: center;

    margin-top: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.heading {
    display: grid;

    grid:
        "title title" auto
        "description date" auto
        "description author" auto /
        1fr auto;

    .title {
        grid-area: title;
    }

    .description {
        grid-area: description;
    }

    .date {
        grid-area: date;
    }
}

.description {
    font-size: 0.8rem;
    opacity: 0.5;
}
