.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: relative;

    padding: 1rem;

    background-color: var(--color-background-dark);
    border-radius: 1rem;

    pre {
        overflow-x: auto;
        background-color: unset;
        padding: 0;
        margin: 0;

        code {
            padding: 0;
            margin: 0;
            background-color: unset;
        }
    }
}

.actions {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 0.75rem;

    transform: translateX(100%);

    padding-left: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
